@media screen and (min-width: 1920px) {
  :root {
    font-size: 32px;
  }
}

@media screen and (min-width: 3840px) {
  :root {
    font-size: 64px;
  }
}
.wrapper {
  width: 90%;
  max-width: 80%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
